{% include 'shogun-content-handler' %}
<!doctype html>
<html
  class="no-js"
  {% if settings.typography_rtl %}
    dir="rtl"
  {% else %}
    dir="ltr"
  {% endif %}
  lang="{{ request.locale.iso_code }}"
>
  <head>
    <link rel="preconnect dns-prefetch" href="https://api.config-security.com/" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://conf.config-security.com/" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://whale.camera/" crossorigin>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.general_theme_color }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.typography_body_font.system?
      and settings.typography_headings_font.system?
      and settings.typography_navigation_font.system?
    -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ page_title }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- render 'meta-tags' -%}

    {%- render 'js-variables' -%}
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'main-password.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {%- render 'css-variables' -%}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'main-password.css' | asset_url | stylesheet_tag }}

    {%- unless settings.typography_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.typography_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.typography_headings_font.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.typography_headings_font | font_url }}"
        type="font/woff2"
        crossorigin
      >
    {%- endunless -%}
    {%- unless settings.typography_navigation_font.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.typography_navigation_font | font_url }}"
        type="font/woff2"
        crossorigin
      >
    {%- endunless -%}

    {% render 'shogun-head' %}

    <!-- Algolia head -->
    {% render 'algolia_config' %}

    <script type="text/template" id="template_algolia_money_format">
      {% include 'algolia_money_format' %}
    </script>
    <script type="text/template" id="template_algolia_current_collection_id">
      {% include 'algolia_current_collection_id' %}
    </script>
    <script type="text/template" id="template_algolia_autocomplete.css">
      {% include 'algolia_autocomplete.css' %}
    </script>
    <script type="text/template" id="template_algolia_instant_search.css">
      {% include 'algolia_instant_search.css' %}
    </script>
    {{ 'algolia_dependency_font-awesome-4-4-0.min.css' | asset_url | stylesheet_tag }}
    <script>
      window.swaches = {{ shop.metafields.global.swaches.value.swaches | json }};
    </script>
    <script src="{{ 'algolia_externals.js' | asset_url }}" defer></script>
    {{ 'algolia_init.js' | asset_url | script_tag }}
    <script src="{{ 'algolia_analytics.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_translations.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_helpers.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete_suggestions_plugin.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete_product_plugin.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete_collections_plugin.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete_articles_plugin.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete_pages_plugin.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_facets.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_sort_orders.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_instant_search-custom.js' | asset_url }}" defer></script>
    {% include 'algolia_autocomplete' %}
    {% include 'algolia_autocomplete_main_products_only' %}
    {% include 'algolia_autocomplete_page' %}
    {% include 'algolia_autocomplete_collection' %}
    {% include 'algolia_autocomplete_article' %}
    {% include 'algolia_autocomplete_product' %}
    {% include 'algolia_autocomplete_suggestion' %}
    {% include 'algolia_autocomplete_header' %}
    {% include 'algolia_autocomplete_footer' %}
    {% include 'algolia_autocomplete_no_results' %}
    {% include 'algolia_instant_search' %}
    {% include 'algolia_instant_search_stats' %}
    {% include 'algolia_instant_search_facet_show_more' %}
    {% include 'algolia_instant_search_facet_item' %}
    {% include 'algolia_instant_search_product' %}
    {% include 'algolia_instant_search_no_result' %}
    <!-- /Algolia head -->
  </head>

  <body
    id="{{ page_title | handle }}"
    class="font-body bg-section-background"
    data-page-type="{{ request.page_type }}"
  >
    <a class="skip-to-content-link button sr-only" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>
    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main bg-primary-background" role="main">
      {{ content_for_layout }}
    </main>

    <!-- District v4.1.0 -->
  </body>
</html>
