{% include 'shogun-content-handler' %}
<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <link rel="preconnect dns-prefetch" href="https://api.config-security.com/" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://conf.config-security.com/" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://whale.camera/" crossorigin>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%- render 'header-scripts.zipifypages', apprxhbl: zp_apprxhbl, renderctx: 'lsctn' -%}
    {{ content_for_header }}

    {% render 'shogun-head' %}

    <!-- Algolia head -->
    {% render 'algolia_config' %}

    <script type="text/template" id="template_algolia_money_format">
      {% include 'algolia_money_format' %}
    </script>
    <script type="text/template" id="template_algolia_current_collection_id">
      {% include 'algolia_current_collection_id' %}
    </script>
    <script type="text/template" id="template_algolia_autocomplete.css">
      {% include 'algolia_autocomplete.css' %}
    </script>
    <script type="text/template" id="template_algolia_instant_search.css">
      {% include 'algolia_instant_search.css' %}
    </script>
    {{ 'algolia_dependency_font-awesome-4-4-0.min.css' | asset_url | stylesheet_tag }}
    <script>
      window.swaches = {{ shop.metafields.global.swaches.value.swaches | json }};
    </script>
    <script src="{{ 'algolia_externals.js' | asset_url }}" defer></script>
    {{ 'algolia_init.js' | asset_url | script_tag }}
    <script src="{{ 'algolia_analytics.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_translations.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_helpers.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete_suggestions_plugin.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete_product_plugin.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete_collections_plugin.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete_articles_plugin.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete_pages_plugin.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_autocomplete.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_facets.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_sort_orders.js' | asset_url }}" defer></script>
    <script src="{{ 'algolia_instant_search-custom.js' | asset_url }}" defer></script>
    {% include 'algolia_autocomplete' %}
    {% include 'algolia_autocomplete_main_products_only' %}
    {% include 'algolia_autocomplete_page' %}
    {% include 'algolia_autocomplete_collection' %}
    {% include 'algolia_autocomplete_article' %}
    {% include 'algolia_autocomplete_product' %}
    {% include 'algolia_autocomplete_suggestion' %}
    {% include 'algolia_autocomplete_header' %}
    {% include 'algolia_autocomplete_footer' %}
    {% include 'algolia_autocomplete_no_results' %}
    {% include 'algolia_instant_search' %}
    {% include 'algolia_instant_search_stats' %}
    {% include 'algolia_instant_search_facet_show_more' %}
    {% include 'algolia_instant_search_facet_item' %}
    {% include 'algolia_instant_search_product' %}
    {% include 'algolia_instant_search_no_result' %}
    <!-- /Algolia head -->
  </head>
  <body>
    {{ content_for_layout }}
    {%- render 'page-footer.zipifypages', renderctx: 'lsctn' -%}
  </body>
</html>
