{%- liquid 
  assign product = section.settings.product
  assign product_form_id = 'product-form-' | append: section.id
  assign blocks_below = ''

  capture product_details_class
    if section.settings.product_box_padding
      echo 'space-y-3 bg-primary-secondary-background p-4 md:px-7 md:py-4'
    else
      echo 'space-y-3'
    endif
  endcapture
-%}
{{ 'splide.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'main-product.css' | asset_url | stylesheet_tag: preload: true }}

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
<div id="MainProduct-{{ section.id }}" class="px-rail py-section relative"
  data-section-id="{{ section.id }}"
  data-section-type="product">
  <div class="product grid grid-cols-10 gap-4 md:gap-7 mx-auto max-w-screen">
    <div class="product__media-container col-span-10 md:col-span-5 lg:col-span-6">
      <a class="skip-to-content-link button" href="#ProductInfo-{{ section.id }}">
        {{ "accessibility.skip_to_product_info" | t }}
      </a>
      {%- if product != blank -%}
        {%- render 'media-slideshow', 
          product: product,
          first_3d_model: first_3d_model,
          lightbox: section.settings.product_featured_lightbox_enable,
          zoom: section.settings.product_featured_zoom_enable,
        -%}
      {%- else -%}
        <div class="product-grid-item__image relative aspect-w-4 aspect-h-3">
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}
    </div>
    <div id="ProductInfo-{{ section.id }}" class="product__info-container col-span-10 md:col-span-5 lg:col-span-4 space-y-4 md:space-y-7">
      <div class="product__details {{ product_details_class }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'custom_liquid' -%}
              <div class="product__liquid" {{ block.shopify_attributes }}
                data-block-id="{{ block.id }}"
                data-section="{{ section.id }}">
                {{ block.settings.custom_liquid }}
              </div>
            {%- when 'title' -%}
              <h1 class="product__title" {{ block.shopify_attributes }}>
                {%- if product.title != blank -%}
                  {{ product.title | escape }}
                {%- else -%}
                  {{ 'onboarding.product_title' | t }}
                {%- endif -%}
              </h1>
            {%- when 'text' -%}
              <div class="product__text product__text--{{ block.settings.text_style }}">{{ block.settings.text }}</div>
            {%- when 'price' -%}
              <div class="product__price-container">
                <div class="product__price" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                  {% render 'price', product: product, use_variant: true, show_savings: block.settings.show_savings, text_offert: block.settings.text_offert, show_text_offert: product.metafields.custom.show_text_offert %}
                </div>
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                  <div class="product__tax prose prose-sm">
                    {%- if shop.taxes_included -%}
                      {{ 'products.product.include_taxes' | t }}
                    {%- endif -%}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
                {%- if product != blank -%}
                  <div {{ block.shopify_attributes }}>
                    {%- form 'product', product, id: 'product-form-installment', class: 'installment text-sm' -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                      <div class="mt-2">{{ form | payment_terms }}</div>
                    {%- endform -%}
                  </div>
                {%- endif -%}
              </div>
            {%- when 'rating' -%}
              <div class="product__rating rating-component">
                {%- if product.metafields.reviews.rating.value != blank -%}

                  {%- liquid
                    assign rating = product.metafields.reviews.rating.value.rating | floor
                    assign rating_decimal = 0
                    assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                    if decimal >= 0.3 and decimal <= 0.7
                      assign rating_decimal = 0.5
                    elsif decimal > 0.7
                      assign rating_decimal = 1
                    endif
                    assign rating_value = product.metafields.reviews.rating.value
                    assign rating_max = product.metafields.reviews.rating.value.scale_max
                  -%}

                  <div class="rating" role="img"
                    aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: rating_value, rating_max: rating_max }}">
                    <div aria-hidden="true" class="rating-star">
                      {%- for i in (1..rating_max) -%}
                        {%- if rating >= i -%}
                          <span class="rating-star__full">{%- render 'icon-ui-star' -%}</span>
                        {%- elsif rating_decimal == 1 -%}
                          {%- assign rating_decimal = 0 -%}
                          <span class="rating-star__full">{%- render 'icon-ui-star' -%}</span>
                        {%- elsif rating_decimal > 0 -%}
                          {%- assign rating_decimal = 0 -%}
                          <span class="rating-star__half">{%- render 'icon-ui-star-half' -%}</span>
                        {%- else -%}
                          <span class="rating-star__empty">{%- render 'icon-ui-star-empty' -%}</span>
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                  </div>
                  <p class="rating-text caption">
                    <span aria-hidden="true">{{ rating_value }} / {{ rating_max }}</span>
                  </p>
                  <p class="rating-count caption">
                    <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                    <span class="sr-only">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
                  </p>
                {%- endif -%}
              </div>
            {%- when 'variants' -%}
              {%- unless product.has_only_default_variant -%}              
                {%- if block.settings.variants_style == 'dropdowns' -%}
                  <variant-selects class="product__block--border-{{ block.settings.border }} no-js-hidden"
                    data-section="{{ section.id }}"
                    data-section-text="{{ product.title | escape }}"
                    data-disable-soldout="{{ block.settings.disable_soldout }}"
                    data-update-url="false"
                    data-url="{{ product.url }}"
                    {{ block.shopify_attributes }}>
                    <div class="product__variants product__variants--dropdown">
                      {%- for option in product.options_with_values -%}
                        <div class="product-form__input product-form__input--dropdown">
                          <label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
                          <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                            name="options[{{ option.name | escape }}]"
                            form="{{ product_form_id }}">
                            {%- for value in option.values -%}
                              <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                                {{ value }}
                              </option>
                            {%- endfor -%}
                          </select>
                        </div>
                      {%- endfor -%}
                    </div>
                    <script type="application/json">
                      {{ product.variants | json }}
                    </script>
                  </variant-selects>
                {%- elsif block.settings.variants_style == 'buttons' -%}
                  <variant-radios class="product__block--border-{{ block.settings.border }} no-js-hidden"
                    data-section="{{ section.id }}"
                    data-section-text="{{ product.title | escape }}"
                    data-disable-soldout="{{ block.settings.disable_soldout }}"
                    data-update-url="false"
                    data-url="{{ product.url }}"
                    {{ block.shopify_attributes }}>
                    <div class="product__variants product__variants--radio">
                      {%- for option in product.options_with_values -%}
                        {%- liquid
                          assign color_language_options = 'products.product.color_option' | t | downcase
                          assign option_name = option.name | downcase
                          if option_name contains color_language_options
                            assign color_option = true
                          else
                            assign color_option = false
                          endif
                        -%}
                        {%- if color_option and block.settings.enable_swatches -%}
                          <fieldset class="swatches product-form__input product-form__input--radio product-form__input--swatch">
                            <legend>
                              <span class="product-form__option-name">{{ option.name }}</span>
                              <span class="product-form__swatch-name">{{ option.selected_value }}</span>
                            </legend>
                            {%- for value in option.values -%}
                              {%- liquid
                                assign swatch_color = value | escape
                                assign swatch_color_metafield = product.metafields.swatches[swatch_color]
                                if swatch_color_metafield == nil
                                  assign swatch_color_metafield = shop.metafields.swatches[swatch_color]
                                endif
                                if swatch_color_metafield
                                  capture swatch_color_metafield_styles
                                    if swatch_color_metafield.type == 'color'
                                      echo 'background-color: '
                                      echo swatch_color_metafield.value
                                    elsif swatch_color_metafield.type == 'file_reference'
                                      echo 'background-image: url("'
                                      echo swatch_color_metafield.value | remove_first: 'files/' | file_img_url
                                      echo '");'
                                    endif
                                  endcapture
                                else
                                  assign swatch_color_css = swatch_color | handle | replace: '-', ''
                                  capture swatch_color_metafield_styles
                                    echo 'background-color: '
                                    echo swatch_color_css
                                    echo ';'
                                  endcapture
                                endif
                              -%}
                              <style>
                                [data-swatch-id="{{ value | handle }}-{{ product.id }}"] .swatch-item__color {
                                  {{ swatch_color_metafield_styles }}
                                }
                              </style>

                              <input class="swatch-item product-form__radio-swatch" type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                    name="{{ option.name }}"
                                    value="{{ value | escape }}"
                                    form="{{ product_form_id }}"
                                    {% if option.selected_value == value %}checked{% endif %}>
                              <label class="swatch-item__label product-form__radio-swatch-label"
                                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                data-swatch-id="{{ value | handle }}-{{ product.id }}">
                                <div class="swatch-item__color {% if block.settings.swatch_shape == 'circle' %}rounded-full{% endif %}" tabindex="0" role="button" onkeydown="keyToClick(event);">
                                  <span class="swatch-item__value sr-only">{{ value | escape }}</span>
                                </div>
                                <div aria-hidden="true" class="product-form__radio-label--cross-out hidden absolute -inset-px pointer-events-none">
                                  <svg class="absolute inset-0 w-full h-full text-primary-text-70 opacity-50 stroke-2" viewBox="0 0 100 100" preserveAspectRatio="none" stroke="currentColor">
                                    <line x1="0" y1="100" x2="100" y2="0" vector-effect="non-scaling-stroke"></line>
                                  </svg>
                                </div>
                              </label>
                            {%- endfor -%}
                          </fieldset>
                        {%- else -%}
                          <fieldset class="product-form__input product-form__input--radio">
                            <legend>
                              <span class="product-form__option-name">{{ option.name }}</span>
                            </legend>
                            {%- assign handle_name = option.name | handleize -%}
                            {%- for value in option.values -%}
                              <input class="product-form__radio" type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                    name="{{ option.name }}"
                                    value="{{ value | escape }}"
                                    form="{{ product_form_id }}"
                                    {% if option.selected_value == value and handle_name != "size" %}checked{% endif %}>
                              <label class="product-form__radio-label relative" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                                {{- value -}}
                                <div aria-hidden="true" class="product-form__radio-label--cross-out hidden absolute -inset-px pointer-events-none">
                                  <svg class="absolute inset-0 w-full h-full text-primary-text-70 opacity-50 stroke-2" viewBox="0 0 100 100" preserveAspectRatio="none" stroke="currentColor">
                                    <line x1="0" y1="100" x2="100" y2="0" vector-effect="non-scaling-stroke"></line>
                                  </svg>
                                </div>
                              </label>
                            {%- endfor -%}
                          </fieldset>
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                    <script type="application/json">
                      {{ product.variants | json }}
                    </script>
                  </variant-radios>
                {%- endif -%}
              {%- endunless -%}
              <noscript class="product__block--border-{{ block.settings.border }}">
                <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                  <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                  <div class="select">
                    <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                      {%- for variant in product.variants -%}
                        <option
                          {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                          {% if variant.available == false %}disabled{% endif %}
                          value="{{ variant.id }}">
                          {{ variant.title }}
                          {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                          - {{ variant.price | money | strip_html }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </div>
                </div>
              </noscript>
            {%- when 'quantity' -%}
              <quantity-select class="product__block--border-{{ block.settings.border }} no-js-hidden" {{ block.shopify_attributes }}>
                <div class="product__quantity quantity product-form__input product-form__quantity">
                  <label class="quantity__label" for="Quantity-{{ section.id }}">
                    {{ 'products.product.quantity.label' | t }}
                  </label>
                  <div class="quantity__container">
                    <button class="quantity__button" name="minus" type="button">
                      <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                      {% render 'icon-ui-minus' %}
                    </button>
                    <input class="quantity__input"
                        type="number"
                        name="quantity"
                        id="Quantity-{{ section.id }}"
                        min="1"
                        value="1"
                        form="{{ product_form_id }}"
                      >
                    <button class="quantity__button" name="plus" type="button">
                      <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                      {% render 'icon-ui-plus' %}
                    </button>
                  </div>
                </div>
              </quantity-select>
            {%- when 'buy_buttons' -%}
              {%- if product != blank -%}
                <product-form class="product__form product-form product__block--border-{{ block.settings.border }}"
                  {{ block.shopify_attributes }}>
                  <div class="product-form__error-container" hidden role="alert">
                    {%- render 'icon-ui-error' -%}
                    <span class="product-form__error-message"></span>
                  </div> 
                  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                    <div class="product-form__buttons"
                      data-enabled="{{ product.selected_or_first_available_variant.available }}">
                      <div data-dynamic-checkout="{{ block.settings.show_dynamic_checkout }}">
                        <button type="submit" name="add"
                          disabled="disabled"
                          id="AddToCart-{{ section.id }}" data-add-to-cart
                          class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
                          {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                            <span>
                              {%- if product.selected_or_first_available_variant.available -%}
                                {%- if block.settings.add_to_cart_text != blank -%}
                                  {{ block.settings.add_to_cart_text }}
                                {%- else -%}
                                  {{ 'products.product.add_to_cart' | t }}
                                {%- endif -%}
                              {%- else -%}
                                {%- if block.settings.sold_out_text != blank -%}
                                  {{ block.settings.sold_out_text }}
                                {%- else -%}
                                  {{ 'products.product.sold_out' | t }}
                                {%- endif -%}
                              {%- endif -%}
                            </span>
                            <span class="loading-spinner hidden">{%- render 'icon-ui-spinner' -%}</span>
                        </button>
                      </div>
                      {%- if block.settings.show_dynamic_checkout -%}
                        {{ form | payment_button }}
                      {%- endif -%}
                    </div>
                  {%- endform -%}
                </product-form>
                {%- if block.settings.add_to_cart_text != blank -%}
                  <script>
                    window.theme.strings.addToCart = '{{ block.settings.add_to_cart_text }}';
                  </script>
                {%- endif -%}
                {%- if block.settings.sold_out_text != blank -%}
                  <script>
                    window.theme.strings.soldOut = '{{ block.settings.sold_out_text }}';
                  </script>
                {%- endif -%}
              {%- else -%}
                <div class="product__form product-form product__block--border-{{ block.settings.border }}">                  
                  <div class="product-form__buttons"
                    data-enabled="false">
                    <div data-dynamic-checkout="false">
                      <button type="submit" name="add"
                        id="AddToCart-{{ section.id }}" data-add-to-cart
                        class="product-form__submit button button--full-width button--primary"
                        disabled>
                          <span>{{ 'products.product.sold_out' | t }}</span>
                      </button>
                    </div>
                  </div>
                </div>
              {%- endif -%}
            {%- when 'pickup' -%}
              {{ 'pickup-availability.css' | asset_url | stylesheet_tag }}
              {%- liquid 
                assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true
                capture pickup_available
                  if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0
                    echo 'available'
                  endif
                endcapture
              -%}
              <pickup-availability class="product__pickup-availabilities" {{ pickup_available }}
                data-root-url="{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}">
                <pickup-availability-preview class="pickup-availability-preview">
                  <template>
                    <div class="flex items-baseline">
                      <div class="pickup-availability-icon w-3 flex-none mr-1 text-primary-accent">
                        {% render 'icon-ui-x-circle' %}
                      </div>
                      <div class="pickup-availability-info">
                        <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                        <button class="pickup-availability-button underline text-sm font-navigation font-weight-navigation">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                      </div>
                    </div>
                  </template>
                </pickup-availability-preview>
              </pickup-availability>
              <script data-src="{{ 'pickup-availability.js' | asset_url }}" data-package="pickup-availability"></script>
              <script>theme.loadPackages(['pickup-availability']);</script>
            {%- when 'popup' -%}
              {%- if block.settings.text != blank or block.settings.page != blank -%}
                <product-details-modal class="product__popup" {{ block.shopify_attributes }}>
                  <button id="ProductPopup-{{ block.id }}" class="product__popup-link link"
                    type="button"
                    aria-haspopup="dialog">{{ block.settings.text | default: block.settings.page.title }}</button>
                  <div class="modal" id="Modal-{{ block.id }}"
                    {% if block.settings.page.title != blank %}aria-labelledby="Modal-Title-{{ block.id }}"{% endif %}
                    {% if block.settings.page.content != blank %}aria-describedby="Modal-Description-{{ block.id }}"{% endif %}
                    role="dialog"
                    aria-modal="true">
                    <button id="ModalClose-{{ block.id }}" type="button"
                      class="modal__close"
                      aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-ui-close' %}</button>
                    <div class="modal__container">
                      <div class="modal__content">
                        <div class="prose">
                          <h4 id="Modal-Title-{{ block.id }}" class="modal__title">{{ block.settings.page.title }}</h4>
                          <div id="Modal-Description-{{ block.id }}">{{ block.settings.page.content }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="modal__background"
                      title="{{ 'accessibility.close' | t }}">
                      <span class="sr-only">{{ 'accessibility.close' | t }}</span>
                    </div>
                  </div>
                </product-details-modal>
              {%- endif -%}

            {%- when 'share' -%}
              {%- capture share_block -%}
                <div class="product__share" {{ block.shopify_attributes }}>
                  <span class="product__share-label label">{{ 'products.product.share' | t }}</span>
                  {%- assign share_url = product.selected_variant.url | default: product.url | prepend: shop.url -%}
                  {%- assign share_text = product.title | url_encode -%}
                  {%- render 'social-share', share_url: share_url, share_text: share_text, color: block.settings.color -%}
                </div>
              {%- endcapture -%}
              {%- liquid 
                if block.settings.show_below
                  assign blocks_below = blocks_below | append: share_block
                else
                  echo share_block
                endif
              -%}
            {%- when 'description' -%}
              {%- capture description_block -%}
                <div class="product__description-container"  {{ block.shopify_attributes }}>
                  {%- if block.settings.enable_tab -%}

                    {%- assign auto_tab_heading = block.settings.tabs_auto_headings -%}
                    
                    {% if auto_tab_heading == 'disabled' %}
                      <details class="product__tab product__tab--description tab" {% if block.settings.default_open %}open{% endif %}>
                        <summary class="tab__title">
                          <h3>{{ block.settings.title | default: block.settings.page.title }}</h3>
                          {% render 'icon-ui-chevron-down' %}
                        </summary>
                        <div class="tab__content prose">
                          {{ product.description }}
                        </div>
                      </details>
                    {%- else -%}
                      {%- liquid 
                        assign auto_tab_start = '<' | append: auto_tab_heading | append: '>'
                        assign auto_tab_end = '</' | append: auto_tab_heading | append: '>'
                        assign auto_tabs = product.description | split: auto_tab_start
                      -%}

                      {%- for tab in auto_tabs -%}
                        {%- liquid 
                          assign tab_size = tab | strip_html | strip | size
                        -%}
                        {%- if tab_size > 0 -%}
                          {%- assign tab_parts = tab | split: auto_tab_end -%}
                          {%- if tab_parts.size == 1 -%}
                            {%- comment -%}
                              Primary description
                            {%- endcomment -%}
                            <details class="product__tab product__tab--description tab" {% if block.settings.default_open %}open{% endif %}>
                              <summary class="tab__title">
                                <h3>{{ block.settings.title | default: block.settings.page.title }}</h3>
                                {% render 'icon-ui-chevron-down' %}
                              </summary>
                              <div class="tab__content prose">{{ tab_parts[0] }}</div>
                            </details>
                          {%- else -%}
                            {%- comment -%}
                              Auto descriptions
                            {%- endcomment -%}
                            <details class="product__tab product__tab--description tab">
                              <summary class="tab__title">
                                <h3>{{ tab_parts[0] }}</h3>
                                {% render 'icon-ui-chevron-down' %}
                              </summary>
                              <div class="tab__content prose">{{ tab_parts[1] }}</div>
                            </details>
                          {%- endif -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {% endif %}

                  {%- else -%}
                    <div class="product__description">
                      <div class="prose">{{ product.description }}</div>
                    </div>
                  {%- endif -%}
                </div>
              {%- endcapture -%}
              {%- liquid 
                if block.settings.show_below
                  assign blocks_below = blocks_below | append: description_block
                else
                  echo description_block
                endif
              -%}
            {%- when 'tab' -%}
              {%- capture tab_block -%}
                <details class="product__tab tab" {% if block.settings.default_open %}open{% endif %}
                  {{ block.shopify_attributes }}>
                  <summary class="tab__title">
                    <h3>{{ block.settings.title | default: block.settings.page.title }}</h3>
                    {% render 'icon-ui-chevron-down' %}
                  </summary>
                  <div class="tab__content prose">
                    {{ block.settings.richtext }}
                    {{ block.settings.page.content }}
                  </div>
                </details>
              {%- endcapture -%}
              {%- liquid 
                if block.settings.show_below
                  assign blocks_below = blocks_below | append: tab_block
                else
                  echo tab_block
                endif
              -%}
            {%- when 'image' -%}
              {%- capture image_block -%}
                <div class="product__image aspect-" {{ block.shopify_attributes }}>
                  {%- if block.settings.image != blank -%}
                    {{ block.settings.image | image_url: width: 960 | image_tag: 
                    class: 'product__image',
                    widths: '160, 220, 300, 420, 640, 960',
                    sizes: '(min-width: 1280px) calc(1280px * (5/12)), (min-width: 1024px) calc(100vw * (6/12)), 100vw',
                    loading: 'lazy' }}
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                </div>
              {%- endcapture -%}
              {%- liquid 
                if block.settings.show_below
                  assign blocks_below = blocks_below | append: image_block
                else
                  echo image_block
                endif
              -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
      <div class="product__content">
        {{- blocks_below -}}
      </div>
    </div>
  </div>
</div>

<script data-src="{{ 'package-splide.js' | asset_url }}" data-package="package-splide"></script>
<script data-src="{{ 'main-product.js' | asset_url }}" data-package="main-product"></script>
<script>theme.loadPackages(['package-splide', 'main-product']);</script>
{%- assign media_model = product.media | where: "media_type", "model" | first -%}
{%- assign media_video = product.media | where: "media_type", "video" | first -%}
{%- assign media_external_video = product.media | where: "media_type", "external_video" | first -%}
{%- if media_model -%}
  <script data-src="{{ 'product-model.js' | asset_url }}" data-package="product-model"></script>
  <script>theme.loadPackages(['product-model']);</script>
{%- endif -%}
{%- if media_video or media_external_video -%}
  <script data-src="{{ 'video-object.js' | asset_url }}" data-package="video-object"></script>
  <script>theme.loadPackages(['video-object']);</script>
{%- endif -%}
{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- endif -%}
{%- render 'linked-data-product', product: product -%}

{% schema %}
{
  "name": "t:sections.product.name.featured_product",
  "class": "featured-product-section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.product.settings.product.label"
    },
    {
      "type": "checkbox",
      "id": "product_box_padding",
      "label": "t:sections.product.settings.product_box_details.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.product.settings.header_media.content",
      "info": "t:sections.product.settings.header_media.info"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.product.settings.media_ratio.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.general.image_ratio.option_adapt_to_media.label"
        },
        {
          "value": "square",
          "label": "t:sections.general.image_ratio.option_square.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.general.image_ratio.option_portrait.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.general.image_ratio.option_landscape.label"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "select",
      "id": "thumbnails_placement",
      "label": "t:sections.product.settings.thumbnail_placement.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.product.settings.thumbnail_placement.option_left.label"
        },
        {
          "value": "right",
          "label": "t:sections.product.settings.thumbnail_placement.option_right.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.product.settings.thumbnail_placement.option_below.label"
        },
        {
          "value": "hide",
          "label": "t:sections.product.settings.thumbnail_placement.option_hide.label"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "checkbox",
      "id": "product_featured_lightbox_enable",
      "label": "t:sections.product.settings.enable_lightbox.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_featured_zoom_enable",
      "label": "t:sections.product.settings.enable_image_zoom.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.product.settings.enable_video_looping.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_below",
          "default": true,
          "label": "t:sections.product.blocks.description.settings.show_below.label"
        },
        {
          "type": "header",
          "content": "t:sections.product.blocks.description.settings.header_tabs.content"
        },
        {
          "type": "checkbox",
          "id": "enable_tab",
          "label": "t:sections.product.blocks.description.settings.enable_tab.label",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product.blocks.description.settings.title.label",
          "default": "Description"
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "default": false,
          "label": "t:sections.product.blocks.description.settings.default_open.label"
        },
        {
          "type": "select",
          "id": "tabs_auto_headings",
          "label": "t:sections.product.blocks.description.settings.tabs_auto_headings.label",
          "options": [
            {
              "value": "disabled",
              "label": "t:sections.product.blocks.description.settings.tabs_auto_headings.option_disabled.label"
            },
            {
              "value": "h1",
              "label": "t:sections.product.blocks.description.settings.tabs_auto_headings.option_heading_1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.product.blocks.description.settings.tabs_auto_headings.option_heading_2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.product.blocks.description.settings.tabs_auto_headings.option_heading_3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.product.blocks.description.settings.tabs_auto_headings.option_heading_4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.product.blocks.description.settings.tabs_auto_headings.option_heading_5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.product.blocks.description.settings.tabs_auto_headings.option_heading_6.label"
            }
          ],
          "default": "disabled",
          "info": "t:sections.product.blocks.description.settings.tabs_auto_headings.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "label": "t:sections.product.blocks.text.settings.text_style.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.product.blocks.text.settings.text_style.option_normal.label"
            },
            {
              "value": "small",
              "label": "t:sections.product.blocks.text.settings.text_style.option_small.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.product.blocks.text.settings.text_style.option_subtitle.label"
            },
            {
              "value": "label",
              "label": "t:sections.product.blocks.text.settings.text_style.option_label.label"
            }
          ],
          "default": "normal"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_savings",
          "label": "t:sections.product.blocks.price.settings.show_savings.label",
          "default": false
        },
        {
          "type": "text",
          "id": "text_offert",
          "label": "Text Offert",
          "default": "Limited Stock Left - Selling Fast"
        }

      ]
    },
    {
      "type": "rating",
      "name": "t:sections.product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "variants",
      "name": "t:sections.product.blocks.variants.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "variants_style",
          "label": "t:sections.product.blocks.variants.settings.variant_style.label",
          "options": [
            {
              "value": "dropdowns",
              "label": "t:sections.product.blocks.variants.settings.variant_style.option_dropdown.label"
            },
            {
              "value": "buttons",
              "label": "t:sections.product.blocks.variants.settings.variant_style.option_buttons.label"
            }
          ],
          "default": "buttons"
        },
        {
          "type": "checkbox",
          "id": "disable_soldout",
          "label": "t:sections.product.blocks.variants.settings.disable_soldout.label",
          "default": true
        },
        {
          "type": "select",
          "id": "border",
          "label": "t:sections.general.show_border.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.general.show_border.option_none.label"
            },
            {
              "value": "top",
              "label": "t:sections.general.show_border.option_top.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.general.show_border.option_bottom.label"
            },
            {
              "value": "top-bottom",
              "label": "t:sections.general.show_border.option_top_bottom.label"
            }
          ],
          "default": "none"
        },
        {
          "type": "header",
          "content": "t:sections.product.blocks.variants.settings.header_color_swatches.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.product.blocks.variants.settings.paragraph_color_swatches.content"
        },
        {
          "type": "checkbox",
          "id": "enable_swatches",
          "label": "t:sections.product.blocks.variants.settings.enable_swatches.label",
          "default": false
        },
        {
          "type": "select",
          "id": "swatch_shape",
          "label": "t:sections.product.blocks.variants.settings.swatch_shape.label",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.product.blocks.variants.settings.swatch_shape.option_circle.label"
            },
            {
              "value": "square",
              "label": "t:sections.product.blocks.variants.settings.swatch_shape.option_square.label"
            }
          ],
          "default": "circle"
        }
      ]
    },
    {
      "type": "quantity",
      "name": "t:sections.product.blocks.quantity.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "border",
          "label": "t:sections.general.show_border.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.general.show_border.option_none.label"
            },
            {
              "value": "top",
              "label": "t:sections.general.show_border.option_top.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.general.show_border.option_bottom.label"
            },
            {
              "value": "top-bottom",
              "label": "t:sections.general.show_border.option_top_bottom.label"
            }
          ],
          "default": "none"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "text",
          "id": "add_to_cart_text",
          "label": "t:sections.product.blocks.buy_buttons.settings.add_to_cart_text.label",
          "info": "t:sections.product.blocks.buy_buttons.settings.add_to_cart_text.info"
        },
        {
          "type": "text",
          "id": "sold_out_text",
          "label": "t:sections.product.blocks.buy_buttons.settings.sold_out_text.label",
          "info": "t:sections.product.blocks.buy_buttons.settings.sold_out_text.info"
        },
        {
          "type": "select",
          "id": "border",
          "label": "t:sections.general.show_border.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.general.show_border.option_none.label"
            },
            {
              "value": "top",
              "label": "t:sections.general.show_border.option_top.label"
            },
            {
              "value": "bottom",
              "label": "t:sections.general.show_border.option_bottom.label"
            },
            {
              "value": "top-bottom",
              "label": "t:sections.general.show_border.option_top_bottom.label"
            }
          ],
          "default": "none"
        }
      ]
    },
    {
      "type": "pickup",
      "name": "t:sections.product.blocks.pickup.name",
      "limit": 1
    },
    {
      "type": "popup",
      "name": "t:sections.product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Popup link text",
          "label": "t:sections.product.blocks.popup.settings.text.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "color",
          "default": false,
          "label": "t:sections.product.blocks.share.settings.color.label"
        },
        {
          "type": "checkbox",
          "id": "show_below",
          "default": true,
          "label": "t:sections.product.blocks.share.settings.show_below.label"
        }
      ]
    },
    {
      "type": "tab",
      "name": "t:sections.product.blocks.tab.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.product.blocks.tab.settings.text.label",
          "default": "Tab title"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "t:sections.product.blocks.tab.settings.richtext.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.product.blocks.tab.settings.page.label"
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "default": false,
          "label": "t:sections.product.blocks.tab.settings.default_open.label"
        },
        {
          "type": "checkbox",
          "id": "show_below",
          "default": true,
          "label": "t:sections.product.blocks.tab.settings.show_below.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.product.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.product.blocks.image.settings.image.label"
        },
        {
          "type": "checkbox",
          "id": "show_below",
          "default": true,
          "label": "t:sections.product.blocks.image.settings.show_below.label"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product.presets.name",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "price"
        },
        {
          "type": "variants"
        },
        {
          "type": "quantity"
        },
        {
          "type": "buy_buttons"
        }
      ]
    }
  ]
}
{% endschema %}